body {
    background-color: black;
}

h1{
    color: yellow;
}

.app {
    width: 100%;
    height: 100vh;
    background-image: url('./img/homem-no-rio-de-janeiro.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}


